body {
    background-color: #1D2123;
    color: #D0D0D0;
    font-family: helvetica, arial, sans-serif;
}

#wrapper {
    margin: 0 auto;
    width: 800px;
    background-color: #25292C;
}

h1 {
    text-align: center;
    padding: .5em 0;
}
